body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 12px;
    line-height: 20px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #444;
}

/* default font size */
.fa {
    font-size: 14px;
}

/* Override the bootstrap defaults */
h1 {
    font-size: 33px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 21px;
}

h4 {
    font-size: 15px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #fee900;
}

a:hover {
    text-decoration: none;
}

legend {
    font-size: 18px;
    padding: 7px 0;
}

label {
    font-size: 12px;
    font-weight: normal;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    font-size: 12px;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
}

/* Fix some bootstrap issues */
/*span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {*/
    /*display: inline;*/
/*}*/

.nav-tabs {
    margin-bottom: 15px;
}

div.required .control-label:before {
    content: '* ';
    color: #F00;
    font-weight: bold;
}

/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
    text-decoration: none;
    color: #fee900;
    /*background-color: #229ac8;*/
    /*background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);*/
    /*background-repeat: repeat-x;*/
}

/* top */
#top {
    background-color: #EEE;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 0 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;
}

#top .container {
    padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#top .btn-link, #top-links li, #top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top .btn-link:hover, #top-links a:hover {
    color: #444;
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 6px;
}

#top-links a + a {
    margin-left: 15px;
}

.my_rubrics {
    margin-top: 1%;
    width: 100%;
}

.my_rubrics a {
    display: inline-block;
    font-size: 14px;
    line-height: 39px;
    position: relative;
    padding: 0 15px;
    text-transform: capitalize;
    color: #2f2a2b;
    font-weight: bold;

    text-decoration: none;
    outline: none;
    transition: all 300ms;
}

.my_rubrics a:hover {
    color: #fee900;
}

/* logo */
.header_logoBox {
    position: relative;
    height: 65px;
    width: 100%;
    margin: 20px 0;
}

.header_logoBox:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 105px;
    display: table;
    /*padding: 20px 0;*/
    top: -20px;
    left: 0;
    box-sizing: border-box;
    background: url(../image/detals/topBg.png) left bottom no-repeat;
    z-index: 1;
}

.companyName {
    position: relative;
    display: block;
    margin-top: 9.5%;
    padding-left: 30px;
    max-width: 400px;
}

.companyName_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.companyName_logo {
    margin: 5px 0;
    height: 34px;
}

.companyName_motto {

    display: block;
    margin: 0;
    padding: 0;
    color: #2f2a2b;
    font-weight: bold;
    line-height: 1.2;
    font-size: 14px;
    background: none;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    text-align: left;

}
/* SHOPPING CART*/

.my_header__shopingCart{
    float: right;
    background-color: #fff;

}
.my_header__shopingCart a{
    color: #444;
    font-size: 16px;
}
.my_header__shopingCart a:hover,
.my_header__shopingCart a:focus{
    color: #fee900;
    text-decoration: none;
}

/* search */

/*#search .btn-lg {*/
/*font-size: 15px;*/
/*line-height: 18px;*/
/*padding: 10px 35px;*/
/*text-shadow: 0 1px 0 #FFF;*/
/*}*/

.header_search {
    clear: both;
    float: right;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    /*margin-top: 34px;*/
    margin-bottom: 1%;
    /*padding: 10px 45px 10px 15px;*/
    width: 270px;
    height: 31px;
    font-size: 13px;
    color: #4d4d4d;
    /*border: 1px solid #d5d4d5;*/
}

.header_search .header_search__fild {
    width: 100%;
    height: 100%;
    margin: 0;

    border-radius: inherit;
    border: 1px solid #d5d4d5;
}

.header_search .header_search__fild:focus{
    outline: none;
    box-shadow: none;
}


.input-group-btn .header_search__button {
    position: absolute;
    right: 50%;
    top: 50%;
    width: 28px;
    height: 28px;
    margin: -14px  0 0 -14px;
    font-size: 3em;

    padding: 0;
    background-color: transparent;
    outline: none;
    border: none;
    overflow: hidden;

}
.input-group-btn .header_search__button:hover{
    color: #908385;
    outline: none;
    border: none;
}
/* cart */
.product-thumb .button-group .my_cart__button {
    width: 100%;
    text-align: center;
}
.my_cart__button .my_cart__textNearButton{

    /*height: 100%;*/
    /*width: 100%;*/
    /*text-align: center;*/

}

#cart {
    margin-bottom: 10px;
}

#cart > .btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

#cart.open > .btn {
    background: #FFFFFF none;
    border: 1px solid #E6E6E6;
    color: #666;
    box-shadow: none;
    text-shadow: none;
}

#cart.open > .btn:hover {
    color: #444;
}

#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
}

#cart .dropdown-menu {
    min-width: 100%;
}

@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
    }
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu li > div {
    min-width: 427px;
    padding: 0 10px;
}

@media (max-width: 478px) {
    #cart .dropdown-menu li > div {
        min-width: 100%;
    }
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}

/* menu */

.my_wrappen__navigation{
    position: relative;
    min-height:54px;
    width: 100%;
    margin: 0;
    background-color: #2f2a2b;
    z-index: 10;
}



#menu{
    position: relative;
    width: 100%;
    background-color: #2f2a2b;
}

/*.my_navigation__wrapper{*/
    /*position: absolute;*/
    /*width: 100%;*/

    /*z-index: 999;*/
/*}*/

.my_navigation:after{
    background: none; /*добавляем только по медиа*/
}

#menu.my_navbar {
    position: relative;
    margin: 0;
    border: none;
    min-height:54px;
}
#menu .my_navigation{
    padding: 0;
    height: 100%;
    width: 100%;
}
#menu .nav > li > a {
    position: relative;
    display: block;
    height: 100%;
    padding: 0 21px 4px 0;              /////////* 0 -> 40px media */
    text-transform: uppercase;
    font: bold 17px/50px "Roboto",sans-serif;
    color: #fff;
}




#menu .nav > li > a:hover,
#menu .nav > li.open > a {
    background-color: rgba(0, 0, 0, 0.1);
    color: #fee900;
}

#menu .dropdown-menu {
    padding-bottom: 0;
    background-color: #2f2a2b;
}

#menu .dropdown-inner {
    display: table;
    width: 100%;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner .list-unstyled{
    width: 100%;
}



/*#menu .dropdown-inner  li{*/
    /*width: 100%;*/
/*}*/

#menu .dropdown-inner a {
    /*min-width: 160px;*/
    display: block;
    width: 100%;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #fff;
    font-size: 12px;
}

#menu .dropdown-inner li a:hover {
    color: #fee900;
    background-color: #474040;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

#menu .see-all:hover, #menu .see-all:focus {
    text-decoration: none;
    color: #fff;
    background-color: #2f2a2b;
}

#menu #category {
    float: left;
    padding-left: 25px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
}

#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    background-color: #2f2a2b;
}

#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
    color: #fff;
    background-color: #2f2a2b;
}

@media (min-width: 991px){
    .my_navigation:after{
        content: '';
        position: absolute;
        background: url(../image/detals/navigationBg.png) no-repeat;
        right: 0;
        bottom: 0;
        display: block;
        width: 408px;
        height: 106px;
    }
}


@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
        background-color: #2f2a2b;
    }
}

@media (max-width: 767px) {
    #menu {
        border-radius: 4px;
    }

    #menu div.dropdown-inner > ul.list-unstyled {
        display: block;
        /*float: left;*/

    }

    #menu .nav > li > a {
        padding-left: 40px;
    }

    .list-unstyled .myPrice {

        font-weight: bold;
    }

    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    #menu .dropdown-inner {
        display: block;
    }

    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }

    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        /*background: rgba(0, 0, 0, 0.1);*/
    }

    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}

/* content */
#content {
    min-height: 600px;
}

.product_name {
    position: relative;
    font: 400 27px/40px "Roboto Slab", sans-serif;
    text-align: left;
    overflow: hidden;
    padding: 0 0 13px 0;
    margin: 0 0 10px;
}

.tab-content .table-bordered thead td {
    border: none;
    font-size: 18px;
    padding: 10px;
    text-align: left;
    color: #4d4d4d;
    font-weight: bold;
}

.tab-content .table-bordered .my_attribute__element {
    padding: 6px 10px;
    text-align: left;
    vertical-align: top;
}

.tab-content .table-bordered tr .my_attribute__element:first-child {
    width: 200px;
}

.tab-content .table-bordered tr:first-child .my_attribute__element {
    /*width: 200px;*/
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    border-left: none;
    background-color: #f3f3f3;
}

/* footer */
footer {
    margin-top: 30px;
    padding-top: 30px;
    background-color: #303030;
    border-top: 1px solid #ddd;
    color: #e2e2e2;
}

footer hr {
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a {
    color: #ccc;
}

footer a:hover {
    color: #fff;
}

footer h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

/* alert */
.alert {
    padding: 8px 14px 8px 14px;
}

/* breadcrumb */

/*.breadcrumb {*/
/*margin: 0 0 20px 0;*/
/*padding: 8px 0;*/
/*border: 1px solid #ddd;*/
/*}*/
/*.breadcrumb i {*/
/*font-size: 15px;*/
/*}*/
/*.breadcrumb > li {*/
/*text-shadow: 0 1px 0 #FFF;*/
/*padding: 0 20px;*/
/*position: relative;*/
/*white-space: nowrap;*/
/*}*/
/*.breadcrumb > li + li:before {*/
/*content: '';*/
/*padding: 0;*/
/*}*/
/*.breadcrumb > li:after {*/
/*content: '';*/
/*display: block;*/
/*position: absolute;*/
/*top: -3px;*/
/*right: -5px;*/
/*width: 26px;*/
/*height: 26px;*/
/*border-right: 1px solid #DDD;*/
/*border-bottom: 1px solid #DDD;*/
/*-webkit-transform: rotate(-45deg);*/
/*-moz-transform: rotate(-45deg);*/
/*-o-transform: rotate(-45deg);*/
/*transform: rotate(-45deg);*/
/*}*/
/*.pagination {*/
/*margin: 0;*/
/*}*/

.breadcrumb {
    white-space: nowrap;
    width: 100%;
    background-color: white;
}
.breadcrumb li{
    position: relative;
}
.breadcrumb li a {

    font-size: 16px;
    color: #333;
}

.breadcrumb > li:after {
    /*content: '';*/
    /*display: block;*/
    /*position: absolute;*/
    /*top: -3px;*/
    /*right: -5px;*/
    /*width: 26px;*/
    /*height: 26px;*/
    /*border-right: 1px solid #DDD;*/
    /*border-bottom: 1px solid #DDD;*/

}

/* buttons */
.buttons {
    margin: 1em 0;
}

.btn {
    padding: 7.5px 12px;
    font-size: 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px;
}

.btn-group > .btn-xs {
    font-size: 9px;
}

.btn-group > .btn-sm {
    font-size: 10.2px;
}

.btn-group > .btn-lg {
    font-size: 15px;
}

.btn-default {
    color: #777;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #e7e7e7;
    background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
    background-repeat: repeat-x;
    border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
    border-color: #1f90bb #1f90bb #145e7a;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #1f90bb;
    background-position: 0 -15px;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    color: #23A1D1;
    border-radius: 0;
}

.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none;
}

.btn-inverse {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444444, #222222);
    background-repeat: repeat-x;
    border-color: #222222 #222222 #000000;
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
    background-image: linear-gradient(to bottom, #333333, #111111);
}

/* list group */
.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}

.list-group .list-group_style {
    position: relative;
    overflow: hidden;
    text-transform: none;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 11px 8px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e7ebf0;
    transition: all 200ms;
}

.catalog_title {
    color: #4d4d4d;
    text-align: left;
    overflow: hidden;
    font: normal 27px/40px "Roboto Slab", sans-serif;
    position: relative;
    text-transform: uppercase;
}

.list-group.list-group_style {
    color: #323232;
    list-style-type:none;
}

.list-group.list-group_style .list-group-item {
    position: relative;
    width: 100%;
    font-size: 14px;
    padding-left: 24px;
    speak: none;
    text-decoration: inherit;
    border: none;
    text-shadow: none;
    text-decoration: none;
    list-style-type:none;
    /*text-align: center;*/
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.list-group.list-group_style .list-group-item:after {
    content: '\2022';
    font-size: 22px;

    color: #fee900;
    position: absolute;
    left: 10px;
    top: 4px;
}

.list-group.list-group_style .list-group-item.active {
    background-color: white;

    color: #fee900;
    vertical-align: middle;
    font-weight: 500;
    border: none;
}

/* HOVER*/

.list-group.list-group_style:hover {
    background-color: #323232;
}

.list-group.list-group_style:hover .list-group-item {
    background-color: #323232;
    color: #fff;
}

.list-group.list-group_style .list-group-item:hover {
    color: #fee900;
    text-shadow: none;
}

.list-group.list-group_style:hover .list-group-item.active {
    color: #fee900;
}


/* TRANSITION - рекомендуемые товары*/


.my_transition__title{
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    padding: 5px 15px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    color: #000;
    margin-bottom: 0;
}


.my_transition__fullList{
    width: 100%;
    border: 1px solid #e5e5e5;
    min-height:160px;
}
.my_transition__productName{
    /*display: block;*/
    /*margin-bottom: 10px;*/
}

.my_transition__productName a{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;

    color: #333;
    font-size: 12px;
    font-weight: 700;
    font-family: "Roboto",sans-serif;
    text-align: center;
    transition: all 200ms;
}

.product-thumb.my_transition__item{

    float: left;
    max-width: 20%;
    height: 100%;
    border:none;

}


.product-thumb.my_transition__item .caption{
    min-height: auto;
}


.transition .my_transition__imageBlock{

    width: 100px;
    height: 90px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;


}
.transition .my_transition__imageBlock a{
    width: 100%;

    display: block;
}

.transition .my_transition__imageBlock img{
    text-align: center;
    margin: 0 auto;
}


.my_transition__item:hover .my_transition__productName a{
    color: #fee900;
}
.my_transition__item:hover  .my_transition__imageBlock{
    border-color: #fee900;
}





/* carousel */
.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}

.my_owl__carusel {

    width: 100%;
    margin-top: 20px;
    padding: 0;
    position: relative;
}

.my_owl__carusel:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../image/Slider/slide-layer.png) no-repeat bottom center;
    height: 137px;
    width: 1133px;
    z-index: 30;
}

.owl-controls {
    position: absolute;
    bottom: 26%;
    right: 2%;
    z-index: 999;
}

.my_owl__carusel .owl-controls .owl-page {
    margin: 0;
}

.owl-controls .owl-page .my_dot {
    width: 15px;
    height: 15px;
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    /*margin: 0 5px;*/
}

.owl-controls .owl-page.active .my_dot {
    background-color: #fee900 !important;
}

/* product list */
.product-thumb {
    position: relative;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    overflow: auto;
}

.product-thumb .image {
    text-align: center;
    margin: 0 auto;
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image a:hover {
    opacity: 0.8;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
}

.product-grid .product-thumb .image {
    float: none;
}

@media (min-width: 767px) {
    .product-list .product-thumb .image {
        float: left;
        padding: 0 15px;
    }
}

.product-thumb h4 {
    font-weight: bold;
}

.product-thumb .caption {
    padding: 0 20px;
    min-height: 180px;
}


.product-thumb .caption  a{
    color: #979495;
    text-align: center;
    text-transform: uppercase;
}

.product-list .product-thumb .caption {
    height:auto;
    /*margin-left: 230px;*/
}

@media (max-width: 1200px) {
    .product-grid .product-thumb .caption {
        min-height: 210px;
        padding: 0 10px;
    }
}

@media (max-width: 767px) {
    .product-list .product-thumb .caption {
        min-height: 0;
        margin-left: 0;
        padding: 0 10px;
    }

    .product-grid .product-thumb .caption {
        min-height: 0;
    }
}

.product-thumb .rating {
    padding-bottom: 10px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #FC0;
    font-size: 15px;
}

.rating .fa-star + .fa-star-o {
    color: #E69500;
}

h2.price {
    margin: 0;
    font-weight: bold;
    color: #3c3c3c;
}

.product-thumb .price {
    /*color: #3c3c3c;*/

    text-align: center;

}

.product-thumb .price-new {
    font-weight: 600;
    color: #444;
    font-size: 27px;
}

.product-thumb .price-old {
    color: #999;
    font-size: 20px;
    text-decoration: line-through;
    margin-left: 10px;
}

.product-thumb .price-tax {
    color: #999;
    font-size: 12px;
    display: block;
}

.product-thumb .button-group {
    border-top: 1px solid #ddd;
    background-color: #eee;
    overflow: auto;
}

.product-list .product-thumb .button-group {
    border-left: 1px solid #ddd;
}

@media (max-width: 768px) {
    .product-list .product-thumb .button-group {
        border-left: none;
    }
}

.product-thumb .button-group button {
    width: 60%;
    border: none;
    display: inline-block;
    float: left;
    /*background-color: #eee;*/
    /*color: #888;*/
    background-color: #2f2a2b;
    color: #fff;
    line-height: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.product-thumb .button-group button + button {
    width: 20%;
    border-left: 1px solid #ddd;
}

.product-thumb .button-group button:hover {

    background-color: #fee900;
    color: #2f2a2b;
    transition: all 200ms;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}

@media (max-width: 767px) {
    .product-thumb .button-group button, .product-thumb .button-group button + button {
        width: 33.33%;
    }
}

/*//////////// My product*/
.wrappenElements {
    border: 1px solid #e7ebf0;
    margin-left: 3%;
}

.wrappenElements ul {
    padding-left: 10px;
    padding-right: 10px;
}


/* CALLBACK */

.my_callback__button{
    /* This class is responsible for modal window */
}


.my_callback__buttonForProduct{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 40px;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    color: #282828;
    outline:none;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background: transparent;
    transition: all 200ms;
}
.my_callback__buttonForProduct:after{
    content: '\f095';
    font-family: "FontAwesome";

    margin-left: 10px;
    font-size: 16px;

    z-index: 2;
}


.my_callback__buttonForProduct:hover{
    color: #1f1709;
    border: 1px solid #1f1709;
    transition: all 200ms;
}

/*TELEPHONS*/
.blockTelephones{
    /*display: block;*/
    position: relative;

    /*width: 140px;*/
    height: 20px;
    font-size: 14px;
    display: inline-block;
    margin: 5px 0 0;
    vertical-align: top;
    border-bottom: 1px dotted #2f2a28;
}


.blockTelephones_title{
    position: relative;
    font-size: 14px;
    cursor: pointer;
}
.blockTelephones_title:after{
    font-family:"FontAwesome";
    content: '\f0d7';
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    font-size: 11px;
}

.blockTelephones_block{
    position: relative;
    margin-top: -20px;
    display: block;
    min-width: 170px;
    list-style-type: none;
    background: #f7f7f7;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 999;
}

.blockTelephones_block li:first-child {
    border-bottom: 1px dotted #2f2a28;
}
.blockTelephones_block li:nth-child(2) {
    padding-top: 5px;
}

.blockTelephones_number{
    line-height: 16px;
    position: relative;
    /*display: none;*/
    color: #383838;
    min-width: 140px;
    padding-bottom: 5px;
}



.blockLinks {
    width: 100%;
    clear: both;
    padding: 10px 0;
    margin-top: 15px;
    background-color: #323232;
    text-align: center;

    font-size: 15px;
}

.blockLinks_wrappen {
    padding: 0 10%;

}


#tab-description{
    margin: 15px 0;
    line-height: 20px;
    zoom: 1;
}



.blockLinks_item {
    display: inline-block;
    color: #fff;
    margin-left: 15px;
    transition: all 100ms ease-in-out;
    border-bottom: 1px dotted;
}

.blockLinks_item:hover {
    color: #fee900;
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 210px;
    float: left;

}

.thumbnails > li {
    /*margin-left: 20px;*/
}

.thumbnails {
    /*margin-left: -20px;*/
}

.thumbnails > img {
    width: 100%;
}

.image-additional a {

    display: block;
    border: 1px solid #ddd;

    line-height: 40px;
    text-align: center;
}

.thumbnails .thumbnail:hover {
    border-color: #fee900;
}

.thumbnails .image-additional {
    display: inline-block;
    max-width: 56px;
    margin-left: 5px;
/ / / / / / / / / / / / / / / / / / / / / / / / / / / / /

}

@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }

    #column-left + #content .product-layout .col-md-3 {
        width: 50%;
    }

    #column-left + #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }

    #content + #column-right .product-layout .col-md-3 {
        width: 100%;
    }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
    width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
    min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

/* Information about company*/

.b-company-info__label {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

.b-company-info__label span,
.tel {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 5px;
}

/* FILTERS */

.nav .my_ocbox__group{

}

.nav .my_ocbox__item {
    margin-bottom: 10px;
    padding-top: 10px;
    border-top: 1px dotted #e5e5e5;
    line-height: 14px;
    position: relative;
    padding-left: 20px;
}

.nav .my_ocbox__item a{
    display: inline-block;
    /*margin-left: 10px;*/
    padding: 0;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    border:none;
}
.nav .my_ocbox__item a:hover{
    background-color: transparent;
    text-decoration: none;
    border:none;
    color: #fee900;
    transition: all 0.2s;
}

.nav .my_ocbox__checkbox{
    margin-top: 2px;
    display: inline-block;
}


.my_ocbox__fullQuantityItemss{
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
    font-size: 11px;
    line-height: 1;
    display: inline-block;

}




/* MAP */

.sidebar-map {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.sidebar-map:hover .sidebar-map__wrapper:after,
.sidebar-map:hover .sidebar-map__decorLayer {
    opacity: 1;
    transition: all 0.4s;
}

.sidebar-map__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar-map__decorLayer {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 254px;
    height: 100%;
    background-color: rgba(0, 0, 0, .25);
    z-index: 2;
    opacity: 0;
}

.sidebar-map__wrapper:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;
    background: url(../image/Map/zoom_in.png) no-repeat center center;
    opacity: 0;

    z-index: 3;
}

.invisibleBlock {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0 !important;
}

/* MODAL WINDOW*/
.my_modal__window {

    position: absolute;
    top: 25%;
    left: 25%;
    width: 50vw;
    background-color: #f8f8f8;
    border-radius: 2px;
    color: #555;
    max-width: 85%;
}

.my_modal__adress {

}

.close.my_button_close {

    outline: none;
    padding: 10px 15px;
    font-size: 3em;
}

.my_map_yandex {
    padding: 0 2% 2%;
}

/* CATEGORY */

.my_categore__name {
    font-size: 27px;
    line-height:40px;
    font-family: "Roboto Slab", sans-serif;
    text-align: left;
    margin: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
}

.my_categore__description {
    margin: 15px 0;
    font: 16px "Roboto", sans-serif;
}

.my_categore__allElements {
    margin: 0;
    padding: 20px 0;
}

.my_categore__element {
    float: left;
    width: 24%;
    /*max-width: 24%;*/
    height: 280px;
    padding: 0;
    font-size: 0;
    list-style-type: none;
    margin: 1% 0 1% 1%;
}
@media (max-width: 640px){
    .my_categore__element{
        width: 49%;
    }
}
.my_categore__elementWrapper {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    text-decoration: none;

}

.my_categore__imageBlock {

    position: relative;
    display: block;
    float: none;
    overflow: hidden;
    width: 100%;
    height: 200px;
    margin: 0 0 17px 0;
    line-height: 200px;

    transform: scale(1);
    transition: all 200ms;
    text-align: center;
    vertical-align: middle;

    white-space: nowrap;
    text-decoration: none;

}

.my_categore__image {
    max-width: 100%;
    height: auto;

    transition: all 300ms;
    border: none;
}

.my_categore__quantityElements {
    position: absolute;
    left: 0;
    right: 0;
    top: 76px;

    font-size: 15px;
    margin: auto;
    color: #333;

    line-height: 3;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;

    transition: all 300ms;
    opacity: 0;
}

.my_categore__subcategoryName {
    font: 14px/16px "Roboto", sans-serif;
    text-align: center;
    color: #333;
}

/* hover*/
.my_categore__element:hover .my_categore__quantityElements {
    opacity: 1;
    transition: all 400ms;
}

.my_categore__element:hover .my_categore__image {
    transform: scale(1.2);
    transition: all 400ms;
}

.my_categore__element:hover .my_categore__elementWrapper {
    border: 1px solid #000;
}

.my_categore__element:hover .my_categore__subcategoryName {
    color: #fee900;
}

/*sorter*/
.my_sorter__form {
    float: left;
    height: 20px;
    line-height: 1;
    padding-top: 5px;
    width: 240px;
}

.my_sorter__form label {
    border: none;
    background: transparent;
}

.my_sorter__form-control {
    background: transparent;
    color: #666;

}

/*buttons sorter*/
.my_sorter__group {
    float: right;
    outline: 0;
    outline-offset: 0;
}

.my_sorter__group button {
    background-color: transparent !important;
    border: none;

}

.my_sorter__button {
    background-color: transparent !important;
    white-space: nowrap;
    font-size: 2em;
}

.my_sorter__button:hover {
    color: #fee900;
    transition: all 0.1s;
    cursor: pointer;
}

.active .my_sorter__button {
    color: #fee900;

}

.my_caption__item {
    position: relative;
    height: 70px;
    /*border: 1px solid #000;*/
    padding: .5em 0;
    display: block;
    font: 400 13px/20px "Roboto", sans-serif;
    color: #333;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
    text-align: center;


    /*overflow: auto;*/
}

/*price*/

.my_price__item {
    overflow: hidden;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #3a3a3a;
    font: normal 21px/30px "Roboto", sans-serif;
    position: relative;
    text-align: center;
}

.my_product-line__data {
    display: block;
    margin-top: 1%;
    width: 100%;
}

.my_product-line__data span {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
}

.my_description_product{
    position: relative;
    height: 80px;
    overflow: hidden;
}


/*       */
.my_menuCreate {
    clear: both;
    width: 100%;
    line-height: 1;
    margin: 30px 0 30px 0;
    padding-top: 15px;
    color: #666;
    border-top: 1px solid #e5e5e5;
    position: relative;
    z-index: 1;
}

/* PAGINATION*/

.my_paginatorBlock {
    width: 100%;
}

.my_paginatorBlock .pagination {

    display: inline-block;
    height: auto;
    margin: 0;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.my_paginatorBlock .pagination .active {
    /*border: 1px solid #d5d5d5;*/
}

.my_paginatorBlock .pagination > .active > span {
    text-decoration: none;
    margin-top: -2px;
    color: #fee900;
    background: #fafafa;
    border: 1px solid #d5d5d5;
}

/*.my_paginatorBlock .pagination>li:first-child,*/
/*.my_paginatorBlock .pagination>li:last-child{*/
/*display: none;*/
/*opacity: 0;*/
/*}*/

.my_paginatorBlock .pagination > li:hover a {
    text-decoration: none;
    color: #fee900;
    background: #fafafa;
    border: 1px solid #d5d5d5;
}

.my_paginatorBlock .pagination > li > a {
    padding: 0 10px;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    color: #4d4d4d;
}

/*.my_paginatorBlock .pagination>li{*/
/*border: 1px solid #d5d5d5;*/
/*background: #fafafa;*/
/*}*/

/* how Many Products Show*/

.my_howManyProductsShow__block {
    float: right;
    width: 100%;
    color: #666;
    text-align: right;
}

.form-control.my_howManyProductsShow__items {
    width: auto !important;
    padding: 0;
    display: inline-block;
    margin-left: 5px;
    outline: none;
    color: #333;
    font: 14px "Roboto", sans-serif;

}

.input-group .form-control {

    float: none;
}

.my_howManyProductsShow__textElements {
    display: inline-block;
    width: auto;
    border: none;
    background-color: transparent;
}

.my_howManyProductsShow__elements {
    width: auto;
}

/* TITLE NAME */

.my_title__name {

    display: block;
    text-align: left;
    text-transform: uppercase;
    overflow: hidden;
    font-family: "Roboto Slab", sans-serif;
    font-size: 27px !important;
    color: #444;
    margin: 0 0 20px;
}


.fullPage{
    position: relative;
    width: 100%;

}
.fullPage:after{
    content: "";
    position: absolute;
    display: block;
    right: 0;
    bottom: 0;
    width: 408px;
    height: 100%;
    box-sizing: border-box;
    background: url(../image/detals/navigationBg.png) right bottom no-repeat;
    z-index: 1;
}

/*  FUATURED */

.product-layout.my_product_fuatured{

}



.my_navigationFild{
    clear: both;
    width: 100%;
    margin-bottom: 30px;
}

.my_button__goodsServices{
    position: relative;
    display: block;
    width: 160px;
    height: 24px;
    margin:0 auto;
    background-color: inherit;

    outline:none;
    border: none;
}
.my_button__goodsServices a{
    position: absolute;
    vertical-align: top;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 13px;
    font-family:"Roboto",sans-serif;
    line-height: 2;
    margin: 0 auto;
    padding: 4px 10px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 400ms;
    box-sizing: content-box;
    background-color: #2f2a2b;
    z-index:5;
}


.my_button__goodsServices a:after{
    content:"⇢";
    display: block;
    position: absolute;
    top: 10%;
    right: 2%;
}

.my_button__goodsServices a:hover{
    background-color: #fee900;
    color: #2f2a2b;
    transition: all 400ms;
}

/* Product*/

.my_product {

    /*width: 100%;*/
    height: 100%;
    /*overflow: hidden;*/
}

.product-thumb:hover .my_product__contactButtons {
    transition: all 200ms;
    display: block;
}

.my_product__contactButtons {
    position: absolute;
    top: 110px;

    font: normal 13px "Roboto", sans-serif;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.66);

    transition: all 200ms;

    display: none;


}





.product-thumb .image .my_product__buyLink {
    display: inline-block;
    vertical-align: top;
    width:auto;
    border: none;
    outline: none;
    padding: 0;
}

.my_product__buyButton {
    display: block;
    position: relative;


    padding: 9px 30px 9px 10px;
    margin-bottom: 0;
    box-sizing: content-box;
    color: #fff;
    text-transform: uppercase;
    font: normal 1em/22px "Roboto", sans-serif;
    background: #2f2a2b;
    transition: all 400ms;
}

.my_product__buyButton:after {
    content: '\f07a';
    font-family: "FontAwesome";
    position: absolute;
    right: 10px;
    top: 8px;

    font-size: 16px;

    z-index: 2;
}

.my_product__buyButton:hover,
.my_product__callbackButton:hover {
    background-color: #fee900;
    color: #2f2a2b;
    transition: all 400ms;
}

.product-thumb .image  .my_product__callbackLink {

    display: inline-block;
    width: 40px;
    height: 40px;

    /*vertical-align: top; !* почему эта фигня помогает? *!*/
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: #2f2a2b;
    transition: all 400ms;
    border-radius: 3px;
    border: none;
    outline: none;
}





.my_product__callbackButton {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
}

.my_product__callbackButton:after {
    content: '\f095';
    font-family: "FontAwesome";
    /*transform: translateY(50%);*/
    line-height: 2;
    z-index: 2;
}

.my_product__callbackButton:hover ~.my_product__callbackButtonDescription {
    display: block;
}

.my_product__callbackButtonDescription {

    position: absolute;
    left: 0;
    font-size: 15px;
    color: #2f2a2b;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 4px;
    z-index: 2;

    /*display: block;*/
    display: none;
}

/* FOR LIST FORMAT*/

.product-layout .product-list .product-thumb{
    height: auto;
}

.product-list .my_product__imageWrappen{
    font-size: 1px;
    line-height: 99px;
    position: relative;
    display: block;
    float: left;
    overflow: visible;
    width: 170px;
    height: 100px;
    margin: 8px 20px 0 0;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    text-decoration: none;
    border: 3px solid #f5f5f5;
    background: #fff;
}
.product-list .my_product__imagePhoto{

    width: 100px;
    height: 90px;
    text-align: center;
}


.product-list .image .my_product__contactButtons{
    width: auto;
    padding: 0;
    top: 20px;
    right: 20px;
    /*float: right;*/
    /*position: relative;*/

}

.product-list .my_product__buyLink{
    float: right;
    margin-left: 5px;
}


.product-list .my_product__contactButtons{
    opacity: 1;
}

.product-list .product-thumb .caption h4{
    margin: 0;
}
.product-list .product-thumb .caption  a{
    text-align:left;
    max-width:600px;

    height: auto;
}
.product-list .my_price__item{
    text-align:left;
}
.product-list .my_product-line__data span{
    text-align:left;
    height: auto;
}

.product-list .my_product__callbackButtonDescription{
    width: 300px;
    left: -120%;
}


/* DELIVERY */

.my_delivery__title{
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    margin: 20px 0 10px 0;
    color: #222;
}



















/* CONTACTS*/

.my_contact__title{
    font: normal 27px/40px "Roboto Slab",sans-serif;
    text-align: left;
    margin: 0 0 20px 0;
    position: relative;
    text-transform: uppercase;
}

.my_contact__map{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0!important;
    padding: 0!important;
    border: 0 none;
    color: #000;
    text-align: left!important;
    text-decoration: none!important;
    font-weight: 400!important;
    font-style: normal!important;
    line-height: normal;
}